body, .quote .title{ font-family: 'Vollkorn', Georgia, serif;}
.title{ font-family: 'Effra', Arial, sans-serif;}
.type{ overflow: hidden; text-indent: -290486px;}

body{ background: #242530; color: #808080; font-size: 14px; line-height: 1.5;}
a{ text-decoration: none;}

.post{ background: white; position: relative; margin: 20px 0 20px 60px; padding-bottom: 15px; width: 300px;}
.type{ background: #fce473; height: 40px; left: -40px; position: absolute; top: 0; width: 40px;}
.title{ color: #1a1a1a; font-size: 20px; font-weight: bold; letter-spacing: 0.1em; line-height: 1.125; padding: 15px 15px 0; text-transform: uppercase;}
.title a{ color: #1a1a1a;}
.content{ padding: 5px 15px 0;}
.image{ display: block;}

.link .type{ background: #42afe3;}
  .link .title a:hover{ color: #42afe3;}
.picture{ padding-bottom: 0;}
.picture .type{ background: #847bb9;}
.quote .title{ font-size: 24px; font-style: italic; font-weight: normal; letter-spacing: 0; text-transform: none;}
